.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    background-color: rgba($color-white, 0.6);
    font-size: $default-font-size;
    transform: skewX(-12deg);

    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }

    @include respond(phone) {
      transform: skewX(0);
    }

    // for the image we already have a transform, which will have priority
    // so we need to add also to the transform of img
    & > * {
        transform: skewX(12deg);

        @include respond(phone) {
            transform: skewX(0);
        }
    }

    &__shape {
        position: relative;
        width: 15rem;
        height: 15rem;
        float: left; // in roder to make the rest of the content floar around it

        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%); // radius at x y
        /* 
            defines where the content flows around the element
            50% => radius = half of height and width = 7.5rem 
            50% 50% - exaclty at the center of the circle (x y)
            we need to use float, we have to set the height and the width in order to work
        */

        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        // this will make the element to have a form of a circle

        transform: translateX(-3rem) skewX(12deg); // in order to have more space between the circle and the text => also need to add 3 more rem to the left padding

        @include respond(phone) {
            transform: translateX(-3rem) skewX(0);
        }
    }

    &__image {
        height: 100%;
        transform: translateX(-4rem) scale(1.4); // in order the image to be centered in the circle
        transition: all .5s;
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        // backface-visibility: hidden; // i don't think this is needed anymore, the text is not shaking at the end of transition
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__image {
        transform: translateX(-4rem) scale(1); 
        filter: blur(3px) brightness(80%);
    }
}