.navigation {
    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;

        // width and height bigger than the one for background, so it will cover it
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;

        // here .5 +.5 is the difference between heights of button an background (7 - 6) so it will perfectly be one on top of the other
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark); // start in the middle of the element and goes from there in all the outside directions
        z-index: 1000;
        transition: transform .8s cubic-bezier(0.83, 0, 0.17, 1); // https://easings.net/
        // transform: scale(80); will scale when checkbox is checked
    }

    &__nav {
        height: 100vh;
        width: 0; // in order the items not be there at all, because we set the opacity to 0, but the link should also not be 'clickable'
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;

        opacity: 0;
        transition: all .8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    &__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 220%; // increasing this, will make the gradient to shift outside the link element
            transition: all .4s;

            span {
                margin-right: 1rem;
                display: inline-block;
            }
        }

        &:hover,
        &:active {
            background-position: 100%; // shifting the background-size to cover the enitre element
            color: $color-primary;
            transform: translateX(1rem); // it doesn't work if the element is not displayed as block
        }

    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }
}